

.title {
  font: font-poppins text-black block;
  width: 0;
  overflow: hidden;
  white-space: nowrap;
  border-right: 3px solid black;
  animation: typewriter 5s steps(7) infinite, blinking-cursor 0.8s infinite;
}

@keyframes typewriter {
  0% { width: 0; }
  25% { width: 70%; }
  48% { width: 100%; }
  50% { width: 100%; }
  55% { width: 100%; }
  75% { width: 70%; }
  85% { width: 30%; }
  100% { width: 0; }
}

@keyframes blinking-cursor {
  from { border-color: transparent; }
  to { border-color: red; }
}

.nav-link {
  @apply font-medium text-black inline-block relative;
  font-size: 16px;
  text-decoration: none;
  padding: 3px 0;
  margin: 0 3px;
  opacity: 1;
}

.nav-link::before {
  @apply transition-all duration-300 absolute bg-red-500;
  content: "";
  height: 3px;
}

.nav-link-ltr::before {
  width: 0%;
  bottom: 1px;
}

.nav-link-ltr:hover::before {
  width: 100%;
}
