/* src/styles/globals.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes circle {
  0% {
    clip-path: circle(0%);
  }
  100% {
    clip-path: circle(75%);
  }
}

.box {
  animation: circle 1.5s;
  clip-path: circle(75%);
}